<h1>k-buckets</h1>

<% @buckets.each_with_index do |b,x| %>
  Bucket: <%= x %>
  Size: <%= b.size %>
  Contacts: 

  <% b.contacts. each do |c| %>
    <div class="contact">
    id: <%= c.id %>
    ip: <%= c.ip %>
    port: <%= c.port %>
    </div>
  <% end %>
<% end %>