<div class="files">
  <h4>data</h4>
  <table>
    <% @node.shards.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><a href="<%= v %>"><%= v %></a></td>
      </tr>
    <% end %>
  </table>
  <br>
  <table>
    <% @node.manifests.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><a href="<%= v %>"><%= v %></a></td>
      </tr>
    <% end %>
  </table>
</div>





