<h1>k-buckets: <%= @buckets.size %></h1>

<% @buckets.each_with_index do |b,x| %>
  <div class="bucket">
    <dl>
      <dt>
        Bucket
      </dt>
      <dd>
        <%= x %>
      </dd>
      <dt>
        Size 
      </dt>
      <dd>
        <%= b.size %>
      </dd>
      <dt>
        Contacts 
      </dt>
      <dd>
        <% b.contacts. each do |c| %>
          id: <%= c.id %>
          ip: <%= c.ip %>
          port: <%= c.port %>
          <br>
        <% end %>
      </dd>
    </dl>
  </div>
<% end %>