<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debug <%= @title %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <h3><%= @title %></h3>
      <dl>
        <dt>id</dt>
        <dd><%= @node.id %></dd>
        <dt>ipv4</dt>
        <dd><%= @node.ip %></dd>
        <dt>port</dt>
        <dd><%= @node.port %></dd>
        <dt>super</dt>
        <dd><%= @super %></dd>
        <dt>superport</dt>
        <dd><%= @superport %></dd>
      </dl>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="/debug/node">Node</a>
        </li>
        <li>
          <a href="/debug/dht">DHT</a> 
        </li>
        <li>
          <a href="/debug/buckets">Buckets</a>
        </li>
        <li>
          <a href="/drop_zone">Drop Zone</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="forms">
      <form action="/send_find_node" method="post">
        <fieldset>
        <h4>Iterative find node</h4>
        <p>Query id</p>
        <input type="text" id="query_id" name="query_id">
        <input type="submit" value="submit">
        </fieldset>
      </form>
      <form action="/send_find_value" method="post">
        <h4>Iterative find value</h3>
        <p>Query file_id</p>
        <input type="text" id="file_id" name="file_id">
        <input type="submit" value="submit">
      </form>
      <form action="/send_it_store" method="post">
        <h4>Iterative store</h4>
        <p>Store key</p>
        <input type="text" id="key" name="key">
        <p>Store data(address?)</p>
        <input type="text" id="data" name="data">
        <input type="submit" value="submit">
      </form>
      <form action="/send_rpc_store" method="post">
        <h4>Send RPC Store</h4>
        <p>Store key</p>
        <input type="text" id="key" name="key">
        <p>Store data(address?)</p>
        <input type="text" id="data" name="data">
        <p>Recipient IP</p>
        <input type="text" id="ip" name="ip">        
        <p>Recipient Port</p>
        <input type="text" id="port" name="port">
        <p>Recipient ID</p>
        <input type="text" id="id" name="id">
        <input type="submit" value="submit">
      </form>
      <form action="/send_rpc_ping" method="post">
        <h4>Send Ping</h4>
        <p>Recipient IP</p>
        <input type="text" id="ip" name="ip">        
        <p>Recipient Port</p>
        <input type="text" id="port" name="port">
        <p>Recipient ID</p>
        <input type="text" id="id" name="id">
        <input type="submit" value="submit">
      </form>
    </div>
    <div class="list">
      <%= yield %>
    </div>
  </main>
  <script src="/javascripts/drop_zone.js"></script>
</body>
</html>