<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debug <%= @title %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <h3><%= @title %></h3>
      <dl>
        <dt>id</dt>
        <dd><%= @node.id %></dd>
        <dt>ipv4</dt>
        <dd><%= @node.ip %></dd>
        <dt>port</dt>
        <dd><%= @node.port %></dd>
      </dl>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="/debug/node">Node</a>
        </li>
        <li>
          <a href="/debug/dht">DHT</a> 
        </li>
        <li>
          <a href="/debug/buckets">Buckets</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>