<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% if @refresh %>
    <%= @refresh %>
  <% end %>
  <title>Debug <%= @title %></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <h3><%= @title %></h3>
      <dl>
        <dt>id</dt>
        <dd><%= @node.id %></dd>
        <dt>ipv4</dt>
        <dd><%= @node.ip %></dd>
        <dt>port</dt>
        <dd><%= @node.port %></dd>
        <dt>super</dt>
        <dd><%= @node.is_super %></dd>
        <dt>superport</dt>
        <dd><%= @superport %></dd>
      </dl>
    </nav>
    <nav>
      <ul>
        <li>
          <a href="/my_files">My Files</a>
        </li>
        <li>
          <a href="/debug/data">Data</a>
        </li>
        <li>
          <a href="/debug/dht">DHT</a> 
        </li>
        <li>
          <a href="/debug/routing_table">Routing Table</a>
        </li>
        <li>
          <a href="/upload_file">Upload File</a>
        </li>
        <li>
          <a href="/get_file">Get File</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="list">
      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <script src="/javascripts/drop_zone.js"></script>
</body>
</html>