<div class="buckets">
  <h4>Total k-buckets: <%= @node.routing_table.buckets.size %></h4>
  <% @node.routing_table.buckets.each_with_index do |b,x| %>
      <div class="bucket">
        <dl>
          <dt>
            Bucket
          </dt>
          <dd>
            <%= x %>
          </dd>
          <dt>
            Size 
          </dt>
          <dd>
            <%= b.size %>
          </dd>
          <dt>
            Contacts 
          </dt>
          <dd>
            <ul>
             <% b.contacts. each do |c| %>
              <li>id: <%= c.id %></li>
              <li>ip: <a href="http://<%= c.ip %>:<%= c.port %>"><%= c.ip %>:<%= c.port %></a></li>
              <li>last seen: <%= c.last_seen %></li>
              <hr />
              <% end %>
            </ul>
          </dd>
        </dl>
      </div>
  <% end %>
</div>





